html, body {
    margin:0;
    height:100%;
}

.navbar {
    background-color: #eeeeee;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navitemicon {
    width:20px;
    height:20px;
}

.navitemtext {
    margin-block-start:0;
    margin-block-end:0;
}

.navbaritem {
    width:100px;
    background-color:#dddddd;
}

.maincontent {
  width:100%;
  height:100%;
  border:0;
}
