html, body {
    margin:0;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navitemicon {
    background:white;
    width:60px;
    height:60px;
}
